<a href="https://colab.research.google.com/github/stevengregori92/Project-2/blob/main/pandas_DataFrame_tricks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Project - Play with DataFrames

## Goal of Project
- Master pandas DataFrame

### Step 1: Import pandas
- Execute the cell below (SHIFT + ENTER)

In [ ]:
import pandas as pd

### Step 2: Read the data
- Use ```pd.read_csv()``` to read the file `files/population.csv`
- NOTE: Remember to assign the result to a variable (e.g., ```data```)

In [ ]:
data = pd.read_csv('population.csv')
data

   Country  Year  Population
0  Denmark  2000         5.3
1  Denmark  2010         5.5
2  Denmark  2020         5.8
3   Sweden  2000         8.8
4   Sweden  2010         9.3
5   Sweden  2020        10.2

### Step 3: Investigate the data types
- Use ```.dtypes```

In [ ]:
data.dtypes

Country        object
Year            int64
Population    float64
dtype: object

### Step 4: Convert Year to Datetime
- ```pd.to_datetime(...)```: Convert to a datetime
- ```format='%Y'```: Format of input, here it is the year.

In [ ]:
data['Year'] = pd.to_datetime(data['Year'], format='%Y')

In [ ]:
data

   Country       Year  Population
0  Denmark 2000-01-01         5.3
1  Denmark 2010-01-01         5.5
2  Denmark 2020-01-01         5.8
3   Sweden 2000-01-01         8.8
4   Sweden 2010-01-01         9.3
5   Sweden 2020-01-01        10.2

In [ ]:
data.dtypes

Country               object
Year          datetime64[ns]
Population           float64
dtype: object

### Step 5: Scale Population to millions
- HINT: ```data['Population']*1000``` scales by 1000

In [ ]:
data['Population'] = data['Population']*1000000
data

   Country       Year  Population
0  Denmark 2000-01-01   5300000.0
1  Denmark 2010-01-01   5500000.0
2  Denmark 2020-01-01   5800000.0
3   Sweden 2000-01-01   8800000.0
4   Sweden 2010-01-01   9300000.0
5   Sweden 2020-01-01  10200000.0

### Step 6: Calculate mean population for each country
- HINT: ```data.groupby('Country')``` groups the data

In [ ]:
data.groupby('Country').mean()

           Population
Country
Denmark  5.533333e+06
Sweden   9.433333e+06

### Step 7: Replace Denmark to DNK
- Given a column you can access the string functions on it with ```.str```
    - This enables you to apply string functions on it
    - HINT: ```data['Country'].str.replace('Denmark', 'DNK')```

In [ ]:
data['Country'].str.replace('Denmark', 'DNK')

0       DNK
1       DNK
2       DNK
3    Sweden
4    Sweden
5    Sweden
Name: Country, dtype: object

In [ ]:
data['Country'].str.replace('Sweden', 'SWD')

0    Denmark
1    Denmark
2    Denmark
3        SWD
4        SWD
5        SWD
Name: Country, dtype: object